#how to create a panda data frame using a python list  #data science.

#create data frame from list
import panda as pd
data =
    [1,'A',25],
    [2,'B',30],
    [3,'C',22]


df=pd.DataFrame(data,coloums=['ID','Name','Age'])

In [ ]:
#create data frame from list
import pandas as pd
data = [
    [11,'A','AI'],
    [23,'B','PDS'],
    [33,'C','ACC']
  ]
df=pd.DataFrame(data,columns=['Roll no','Name','Subject'])
df.head()

   Roll no Name Subject
0       11    A      AI
1       23    B     PDS
2       33    C     ACC

In [ ]:
l=['python','java','c','ruby','php']
[i for i in l if i[0]=='p']

['python', 'php']

In [ ]:
# create dataframe from dictionary
d={
  'name':['a','b','c','d','e','f'],
  'roll no':[20,30,40,8,7,6],
  'marks':[70,80,90,8,7,6]
}
df=pd.DataFrame(data,columns=['name','roll no','marks'])
df.head()

   name roll no marks
0    11       A    AI
1    23       B   PDS
2    33       C   ACC

In [ ]:
l=['apple','app','python','c','apps']
[i for i in l if i[0]=='a']

['apple', 'app', 'apps']

In [ ]:
t=()
type(t)

tuple

In [ ]:
t=(45)
type(t)

int

In [ ]:
t=45,67,88
type(t)

tuple

In [ ]:
l=[65,30,87,99]
l=[65,30]
common=[i for i in l if i in l]
print(common)

[65, 30]

In [ ]:
s={}
type(s)

dict

In [ ]:
s={67,5,4,3,2,1}
print(s)

{1, 2, 67, 3, 4, 5}

In [ ]:
s={5,5,5,1,97,3,3}
print(s)

{1, 3, 5, 97}

In [ ]:
s=[1,2,3,5,5,7,8,9,9]
print(set(s))

{1, 2, 3, 5, 7, 8, 9}

In [ ]:
t3=(1,2,3,4)
t3 [-2]

3

In [ ]:
t3=(1,2,3)
t3 [-2]

2

In [ ]:
t3=(1,2,3)
t3 [0:3]

(1, 2, 3)

In [ ]:
t3=(1,2,3)
t3 [0::2]

(1, 3)

In [ ]:
t3=(4,5,6,7,8)
t3 [::-1]

(8, 7, 6, 5, 4)

In [ ]:
t3=(1,2,3)
temp=list(t3)
print (temp)

[1, 2, 3]

In [ ]:
t=(1,2,3,3,40)
t.count(3)

2

In [ ]:
a,b,c=(1,2,3)
print(a,b,c)

1 2 3

In [ ]:
a,b,*others=(1,2,3,4,7,5)
print(a,b)
print(others)

1 2
[3, 4, 7, 5]

In [ ]:
a,*others=(1,2,3,4,7,5)
print(a,b)
print(others)

1 2
[2, 3, 4, 7, 5]

In [ ]:
a=(1,2,3,4)
b=(5,6,7,8,)
tuple (zip(a,b))

((1, 5), (2, 6), (3, 7), (4, 8))

In [ ]:
t=[i for i in range(1,11)]
print(t)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
t=[i for i in range(1,11)if i%5==0]
print(t)

[5, 10]

In [ ]:
t=[i for i in range(1,11)if i%2==0]
print(t)

[2, 4, 6, 8, 10]

In [ ]:
#s2={1,2,3{4,5}}
#print(s2)

In [ ]:
s3=1,'hello',4.5,(1,2,3)
print(s3)

(1, 'hello', 4.5, (1, 2, 3))

In [ ]:
s={1,2,3,4}
s.update([11,12,13])
print(s)

{1, 2, 3, 4, 11, 12, 13}

In [ ]:
s=(1,2,3,4,5)
s_set = set(s)
s_set.discard(5)
s = tuple(s_set)
print(s)

(1, 2, 3, 4)

In [ ]:
s={1,2,3,4,5,50}
s.remove(50)
print(s)

{1, 2, 3, 4, 5}

In [ ]:
s={1,2,3,4,50}
s.discard(50)
print (s)

{1, 2, 3, 4}

In [ ]:
s={1,2,3,4,50}
s.discard(90)
print (s)

{1, 2, 3, 4, 50}

In [ ]:
s={1,2,3,4,5,50}
s.pop()
print (s)

{2, 3, 4, 5, 50}

In [ ]:
s={1,2,3,4,5,50}
s.clear()
print (s)

set()

In [ ]:
s1={1,2,3,4,5}
s2={1,2,3,4,5,6,7,8}
s1|s2

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
s1={1,2,3,4,5}
s2={1,2,3,4,5,6,7,8}
print(s1.union(s2))

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
s1={1,2,3,4,5}
s2={2,3,4,5}
s1-s2

{1}

In [ ]:
s1={1,2,3,4,5}
s2={4,5,6,7,8}
s1-s2

{1, 2, 3}

In [ ]:
s1={1,2,3,4,5,6,7,8,9,10}
for i in s1:
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
d1={"name":"kaikho","age":20,"Gender":"male"}
print(d1)

{'name': 'kaikho', 'age': 20, 'Gender': 'male'}

In [ ]:
d2= {(1,2,3 ):33 ,"name": "a"}
print(d2)

{(1, 2, 3): 33, 'name': 'a'}

In [ ]:
text = "I love python and i love c"
words = text.split()
word_count = len(words)
print(word_count)

7

In [ ]:
d3= {
   "name":"a",
   "college_name":"ABC",
   "semester":5,
   "subjects":{"DSA":80,
   "maths":50,
   "english":70
   }
}
print(d3)

{'name': 'a', 'college_name': 'ABC', 'semester': 5, 'subjects': {'DSA': 80, 'maths': 50, 'english': 70}}

In [ ]:
= {
   "name":"a",
   "college_name":"ABC",
   "semester":5,
   "subjecd3ts":{"DSA":80,
   "maths":50,
   "english":70
   }
}
print(d3["semester"])

SyntaxError: invalid syntax (ipython-input-2561680021.py, line 1)

In [ ]:
d1={"name":"a","age":26}
del d1["name"]
print(d1)

In [ ]:
# no arguments , no return
def no_arg():
  return
no_arg()

In [ ]:
def no_arg_with_return():
  return 'hi'
no_arg_with_return()

In [ ]:
import keyword
keyword.kwlist

In [ ]:
def no_arg_with_return():
  return'hi'
no_arg_with_return()

In [ ]:
def noreturn(a):
  print()
noreturn(6)

In [ ]:
def square(a):#with arg with return
    return a*a
square(4)

In [ ]:
def noreturn(a):
  print ()
  noreturn(6)

In [ ]:
def even_odd(a):
  if a%2==0:
    return 'even'
  else:
    return 'odd'
even_odd(2)

In [ ]:
#plotting a simple funtion
price=[48000,54000,57000,49000,47000,45000]
year=[2015,2016,2017,2018,2019,2020]
plt.plot(year,price)
plt.show()

In [ ]:
#plotting a simple funtion
import matplotlib.pyplot as plt
price=[48000,54000,57000,49000,47000,45000]
year=[2015,2016,2025,2026,2028,2030,]
plt.plot(year,price)
plt.show()

In [ ]:
#plotting a simple funtion


#plt.()import matplotlib.pyplot as plt

marks=[45,67,89,55,76,90,48,60,72,81]
plt.hist(marks,bins=10, color='skyblue',edgecolor='black')
plt.title("Distribution of student marks")
plt.xlabel("marks range")
plt.ylabel("number of students")
plt.show()

In [ ]:
#simple data
data=[23,45,100,20,49]
subjects=['eng','science','mats','sst','hindi']
plt.pie(data,labels=subjects)
plt.show()

In [ ]:
#percentage and color

data=[23,45,100,20,49]
subjects=['eng','science','mats','sst','hindi']
colors=['yellow','pink','green','red','purple']
plt.pie(data,labels=subjects, autopct='%.1f%%', colors=colors, explode = [0,0,0.2,0,0])
plt.show()

In [ ]:
#percentage and color
import matplotlib.pyplot as plt

data=[23,45,100,20,49]
subjects=['eng','science','mats','sst','hindi']
colors=['yellow','pink','green','red','purple']
plt.pie(data,labels=subjects, autopct='%.1f%%', colors=colors)
plt.show()#percentage

In [ ]:
#Finding the boundary values

print("Highest allowed", df['cgpa'].mean() + 3*df['cgpa'].std())

print("Lowest allowed", df['cgpa'].mean() -3*df['cgpa'].std())

In [ ]:
import pandas as pd
import numpy as np

# Create a sample DataFrame with a 'cgpa' column
data = {'cgpa': [7.5, 8.1, 6.8, 9.2, 7.0, 8.5, 6.5, 9.5, 7.8, 8.9]}
df = pd.DataFrame(data)

# Finding the boundary values
print("Highest allowed", df['cgpa'].mean() + 3*df['cgpa'].std())
print("Lowest allowed", df['cgpa'].mean() - 3*df['cgpa'].std())

In [ ]:
df[(df['cgpa']>8.80) |(df['cgpa']<5.11)]

In [ ]:
new_df = df[(df['cgpa']<8.80) &(df['cgpa']>5.11)]
new_df

In [ ]:
df['cdgpa_zscore']=(f['cgpa']-df['cgpa'].mean())/df['cgpa'].std()
df

In [ ]:
df[df['cgpa_zscore']> 3]

In [ ]:
df[df['cgpa']<-3]

In [ ]:
df[(df['cgpa_zscore'] > 3) | (df['cgpa'] < -3)]

In [ ]:
#triming
new_df=df[(df['cgpa_zscore']<3)& (df['cgpa_zscore']>-3)]
new_df

KeyError: 'cgpa_zscore'

In [ ]:
upper_limit=df['cgpa'].mean()+3*df['cgpa'].std()
lower_limit=df['cgpa'].mean()-3*df['cgpa'].std()
new_df

In [ ]:
df['cgpa']=np.where(df['cgpa']>upper_limit,upper_limit,df['cgpa'])
df['cgpa']=np.where(df['cgpa']<lower_limit,lower_limit,df['cgpa'])
new_df

In [ ]:
df.shape

(3, 3)

In [ ]:
df['cgpa'].describe()

NameError: name 'df' is not defined

In [ ]:
# Recreate the DataFrame 'df' with a 'cgpa' column
import pandas as pd
import numpy as np

data = {'cgpa': [7.5, 8.1, 6.8, 9.2, 7.0, 8.5, 6.5, 9.5, 7.8, 8.9]}
df = pd.DataFrame(data)

In [ ]:
import pandas as pd
titanic_data ={
    "PassengerId":[1,2,3,4,5],
    "Name":["kholi","loli","losa","losii","lokho"],
    "Age":[40,34,65,32,23],
    "Sex":["male","male","female","male","female"]
    "Prclass":[3,1,3,1,3]
     }

In [2]:
df['Sex']=df['Sex'].map({'male':0,'female':1})
df['Sex'].head()
print(df['Sex'])

NameError: name 'df' is not defined

In [4]:
import pandas as pd

titanic_data ={
    "PassengerId":[1,2,3,4,5],
    "Name":["kholi","loli","losa","losii","lokho"],
    "Age":[40,34,65,32,23],
    "Sex":["male","male","female","male","female"],
    "Prclass":[3,1,3,1,3]
     }
df = pd.DataFrame(titanic_data)

In [10]:
import pandas as pd

print(df.head())

   PassengerId   Name  Age     Sex  Prclass
0            1  kholi   40    male        3
1            2   loli   34    male        1
2            3   losa   65  female        3
3            4  losii   32    male        1
4            5  lokho   23  female        3

In [11]:
import pandas as pd

print(df.head())

   PassengerId   Name  Age     Sex  Prclass
0            1  kholi   40    male        3
1            2   loli   34    male        1
2            3   losa   65  female        3
3            4  losii   32    male        1
4            5  lokho   23  female        3

In [8]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

data=pd.DataFrame({'profit':[200,500,1000,1500,3000]})

scaler=MinMaxScaler()
data['profit']=scaler.fit_transform(data[['profit']])
print(data)

     profit
0  0.000000
1  0.107143
2  0.285714
3  0.464286
4  1.000000

In [12]:
df_encoded=pd.get_dummies(df, drop_first=True,dtype=int)
print(df_encoded)

   PassengerId  Age  Prclass  Name_lokho  Name_loli  Name_losa  Name_losii  \
0            1   40        3           0          0          0           0
1            2   34        1           0          1          0           0
2            3   65        3           0          0          1           0
3            4   32        1           0          0          0           1
4            5   23        3           1          0          0           0

   Sex_male
0         1
1         1
2         0
3         1
4         0

In [15]:
import numpy as np
data=pd.DataFrame({'Sales':[200,500,1000,1500,3000]})
data['sales_log']=np.log(data['Sales'])
print(data)

AttributeError: module 'numpy' has no attribute 'DataFrame'